body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    overflow-x: hidden;
}

h1, h2, h3 {
  color: #1F2937;
}

.top-bottom-elements {
    background-color: rgb(124, 198, 198);
    color: #f4f4f4;
    padding: 10px 0;
    width: 100%;
    text-align: center}

.itemButton {
    background-color: gray;
    color: white;
    margin: 5px;
    box-shadow: 1px 1px 2px rgb(85, 85, 85);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}
.itemButton:hover {
    background-color: rgb(92, 92, 92);
}
.itemButton a {
  text-decoration: none;
  color: white;
}

.Button {
    background-color: rgb(212, 224, 224);
    color: black;
    padding: 0px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.Ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.module_style {
  width: 80%;
  height: 40%;
  max-width: 800px;
  background-color: #ECEAE6;
  box-shadow: 5px 5px 5px lightgray;
  margin: 10px 10px;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

.guitarContainer {
  display: flex;
  width: 90%;
  margin: 3%;
  justify-items: center;
  align-content: center;
  flex-direction: row;
}

.quizButton {
  width: 40%;
  background-color: rgba(59, 71, 71, 0.55);
  font-size: 18px;
  box-shadow: 1px 2px 2px rgb(178, 178, 178);
  border: 1px solid black;
  color: white;
  border: none;
  margin: 0px 2px auto;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer
}

@media (max-width: 1000px) {
  body {
    padding: 10px;
  }

  .top-bottom-elements {
    padding: 15px 5px;
    font-size: 16px;
  }

  .itemButton {
    width: 80%;
    font-size: 16px;
    display: inline-block;
  }

  .guitarContainer {
    flex-direction: column;
  }

  .quizButton {
    width: 45%;
  }

}

